#controls {
  position: fixed;
  z-index: 1000;
  width: 109px;
  bottom: 0;
  left: 0;
  h1 {
    position: relative;
    z-index: 1002;
    height: 120px;
    line-height: 120px;
    overflow: hidden;
    background: #fe9142;
    font-size: 6em;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
  ul {
    position: absolute;
    z-index: 1001;
    width: 100%;
    bottom: 120px;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    color: #a5a4a4;
    li {
      line-height: normal;
      text-align: center;
      padding: 0 0 10px;
      border: 1px solid #222;
      border-left: 0;
      border-bottom: 0;
      font-size: 1.2em;
      cursor: pointer;
      i {
        display: block;
        padding: 0;
        width: 100%;
        font-size: 4em;
        text-align: center;
      }
      &:hover {
        i {
          color: #fe9142
        }
      }
    }
  }
}
