/*
 *= require_self
 *= require ./loading_indicator
 *= require ./flash_message
 *= require ./modal
 *= require ./background
 *= require ./controls
 *= require ./widget_tree
 *= require ./dashboards
 *= require ./settings
 */
.habberdash {
  background: #000;
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  .btn {
    border: 0;
    padding: 7px 20px;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1.5em;
    line-height: normal;
  }
  .btn-primary {
    border: 0;
    background: #666;
    &:hover {
      background: #333;
    }
  }
}
