#modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    background: rgba(0, 0, 0, 0.4);
  }
  .modal-container {
    position: fixed;
    z-index: 10001;
    top: 20px;
    background: #d4d5d5 url(/assets/modal-background.jpg) center;
    opacity: 0;
    overflow: hidden;
    display: none;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    h1.modal-title {
      margin: 0;
      padding: 3px 10px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      white-space: nowrap;
      -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
      i.modal-close {
        float: right;
        width: 25px;
        height: 25px;
        line-height: 21px;
        margin: 6px 0 0;
        font-weight: normal;
        cursor: pointer;
      }
    }
    .modal-content-container {
      display: none;
      overflow: auto;
      .modal-content {
        padding: 20px 20px 20px 0;
      }
    }
  }
  &.loading {
    .modal-container {
      background-image: url(/assets/ajax-loader-light.gif);
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .modal-content {
    h3 {
      font-size: 1.5em;
      line-height: normal;
      margin-bottom: 5px;
    }
    .row div, .row form {
      &.span9 {
        margin-left: 20px;
      }
    }
    div, form {
      &.span1, &.span2, &.span3, &.span4, &.span5, &.span6, &.span7, &.span8 {
        margin-left: 0;
        padding-left: 18px;
        border-left: 2px solid #bbb;
        &:first-child {
          border-left: 0;
          padding-left: 20px;
        }
      }
    }
    label, input, button, select, textarea {
      font-size: 1.5em;
      line-height: normal;
    }
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
      font-size: 1.5em;
      line-height: normal;
      height: auto;
    }
    fieldset legend {
      border: 0;
    }
    .control-group p {
      margin: 0;
    }
    .form-actions {
      border: 0;
      background: none;
      padding-right: 0;
      padding-left: 0;
      text-align: right;
    }
  }
}
