<!DOCTYPE html>
<html>
<head>
  <title>Habberdash</title>
  <%= stylesheet_link_tag 'habberdash', media: 'all' %>
  <%= javascript_include_tag 'habberdash' %>
  <%= csrf_meta_tags %>
</head>
<body class="habberdash">

<div id="dashboard">...</div>

</body>
</html>
